#customer{
  display: inline-block;
  padding: 16px;
  text-align: center;
  border: 2px solid black;
  cursor: pointer;
}
.customerTitle{
  text-align: center;
}

.customers{
  display: inline-block;
  padding: 20px;
}
.newCustomer{
  text-align: center;
  cursor: pointer;
}
.newForm{
  width: 60%;
  margin: 0 auto;
}

#technician{
  display: inline-block;
  padding: 16px;
  text-align: center;
  border: 2px solid black;

}
.technicianTitle{
  text-align: center;

}
.technicians{
  display: inline-block;
  padding: 20px;
}
.newTechnician{
  text-align: center;
  cursor: pointer;
}
.customerShow{
  text-align: center;
}
.mowings{
  text-align: center;
  border-bottom: 2px black solid;
  width: 30%;
  margin: 0 auto;
}
#mowingHeader{
  text-align: center;
}
.invoice{
  text-align: center;
  border-bottom: 2px black solid;
  width: 30%;
  margin: 0 auto;
}
.invoiceTitle{
  text-align: center;
}
.invoiceLink{
  text-align: center;
  padding-bottom: 10px;
  cursor: pointer;
}
