#customer{
  display: inline-block;
  padding: 16px;
  text-align: center;
  border: 2px solid black;
}

.customerTitle{
  text-align: center;
}

.customers{
  display: inline-block;
  padding: 20px;
}
.newCustomer{
  text-align: center;
}
.newForm{
  width: 60%;
  margin: 0 auto;
}

#technician{
  display: inline-block;
  padding: 16px;
  text-align: center;
  border: 2px solid black;
}
.technicianTitle{
  text-align: center;

}
.technicians{
  display: inline-block;
  padding: 20px;
}
.newTechnician{
  text-align: center;

}
.customerShow{
  text-align: center;
}
